### OLD MACDONALD: Write a function that capitalizes the first and fourth of a name

old_macdonald('macdonald') --> MacDonald

In [14]:
def old_macdonald(name):
    name1=name[:3]
    name2=name[3:]
    return name1.capitalize()+name2.capitalize()

In [15]:
old_macdonald('macdonald')

'MacDonald'

### MASTER YODA: Give a sentence, returns a sentence with the words reversed

In [43]:
def master_yoda(text):
    li=text.split()
    return li[::-1]

In [45]:
master_yoda('I am home')

['home', 'am', 'I']

In [46]:
master_yoda('We are ready')

['ready', 'are', 'We']

#### use join to join items in list

In [34]:
mylist=['a','b','c']

In [50]:
'oooo'.join(mylist)

'aoooobooooc'

In [36]:
' '.join(mylist)

'a b c'

In [44]:
def master_yoda2(text):
    li=text.split()
    return ' '.join(li[::-1])

In [48]:
master_yoda2('I am home')

'home am I'

In [49]:
master_yoda2('We are ready')

'ready are We'

### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [53]:
abs(100-10)

90

In [54]:
def almost_there(n):
    return abs(100-n)<=10 or abs(200-n)

In [55]:
almost_there(104)

In [56]:
almost_there(150)

In [57]:
almost_there(209)