# Python Comparison Operations

In [2]:
2 == 2.0

True

In [3]:
'hello'=='hello'

True

In [4]:
'hello'=='Hello'

False

# Logical Operators

In [6]:
1 < 2 and 2<3

True

In [14]:
1 < 2 < 3

True

In [12]:
1<2 and 2>3

False

In [13]:
1<2 or 2>3

True

In [21]:
1 > 1

False

In [19]:
not 1 > 1

True

# if, elif, else

In [23]:
#if some_condition:
    # execute some code
#elif some_other_condition:
    # do something different
#else:
    # do something else

In [28]:
if 2>3:
    print('its true!')
else:
    print('its false')

its false

In [34]:
name = 'joel'
if name=='ajay':
    print(f"ajay={name}")
elif name=='joel':
     print(f"joel={name}")
else:
     print(f"darpan={name}")

joel=joel

# For Loop

### Iterable

In [37]:
my_iterable=[1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [38]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [41]:
for num in my_list:
    print(f'hello {num}',num)

hello 1 1
hello 2 2
hello 3 3
hello 4 4
hello 5 5
hello 6 6
hello 7 7
hello 8 8
hello 9 9
hello 10 10

In [43]:
for num in my_list:
    if num%2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [47]:
list_sum=0

for num in my_list:
    list_sum=list_sum+num
    
print(list_sum)

55

In [48]:
mystring='hello world'
for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [49]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [50]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [51]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [52]:
len(mylist)

4

In [55]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

## Tuple unpacking

In [57]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [58]:
mylist=[(1,2,3),(5,6,7),(8,9,10)]

In [59]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [65]:
for a,b,c in mylist:
    print(a)

1
5
8

In [66]:
d={'k1':1,'k2':2,'k3':3}

In [77]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [78]:
for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [80]:
for value in d.keys():
    print(value)

k1
k2
k3

In [81]:
for value in d.values():
    print(value)

1
2
3

# While Loops

In [83]:
n=2
while (n>0):
    print('hello')
    n=n-1

hello
hello

In [84]:
#while some_boolean_condition:
    #do something
#else:
    #do something different

In [8]:
x = 0 

while x < 5:
    print(f'the current value is {x}')
    x=x+1
else:
    print("x is not less than 5")

the current value is 0
the current value is 1
the current value is 2
the current value is 3
the current value is 4
x is not less than 5

In [7]:
x=0
while x < 5:
    print(f'the current value is {x}')
    x+=1

the current value is 0
the current value is 1
the current value is 2
the current value is 3
the current value is 4

## break, continue, pass

In [14]:
x=[1,2,3]

for item in x:
    #comment
    pass

print('end')

end

In [16]:
mystring = 'sammy'

In [23]:
for letter in mystring:
    if letter == 'a':
        continue # go back to loop and continue
    print(letter)

s
m
m
y

In [24]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

s

In [25]:
x = 0
while x<5:
    print(x)
    x +=1

0
1
2
3
4

In [26]:
mylist = [1,2,3]

In [28]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [32]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [31]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [33]:
range(0,11,2)

range(0, 11, 2)

In [34]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

# Enumerate

In [42]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [43]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [44]:
index_count = 0
word = 'abcde'

for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [49]:
index_count = 0
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [56]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [57]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [58]:
list(zip(mylist,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [59]:
'x' in [1,2,3]

False

In [60]:
'x' in ['x','y','z']

True

In [63]:
'a' in 'a world'

True

In [64]:
'mykey' in {'mykey':345}

True

In [65]:
d = {'mykey':345}

345 in d.keys()

False

In [66]:
mylist = [10,20,30,40,100]

In [67]:
min(mylist)

10

In [68]:
max(mylist)

100

In [69]:
from random import shuffle

In [70]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [71]:
shuffle(mylist)

In [72]:
mylist

[9, 5, 8, 1, 4, 2, 7, 3, 6, 10]

In [73]:
from random import randint

In [75]:
randint(0,100)

73

In [78]:
randint(0,100)

82

In [80]:
mynum=randint(0,100)

In [81]:
mynum

82

In [84]:
num=input('Enter a number here : ')

Enter a number here : 23

In [85]:
num

'23'

In [86]:
num * 3

'232323'

In [87]:
num=int(input('Enter a number here :'))

Enter a number here :23

In [89]:
num * 4

92

## List Comprehensions

In [91]:
mystring = 'hello'

In [92]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [93]:
mylist

['h', 'e', 'l', 'l', 'o']

In [94]:
mylist = [letter for letter in mystring]

In [95]:
mylist

['h', 'e', 'l', 'l', 'o']

In [96]:
mylist = [x  for x in 'word']

In [97]:
mylist

['w', 'o', 'r', 'd']

In [99]:
mylist = [x for x in range(0,11)]

In [100]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
mylist=[num**2 for num in range(0,10)]

In [104]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [109]:
mylist=[x**2 for x in range(0,11) if x%2 == 0]

In [110]:
mylist

[0, 4, 16, 36, 64, 100]

In [111]:
results=[x if x%2==0 else 'odd' for x in range(0,11)]

In [112]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [117]:
mylist=[]

for x in [2,4,6]:
    for y in [1,100,1000]:
        mylist.append(x*y)

In [118]:
mylist

[2, 200, 2000, 4, 400, 4000, 6, 600, 6000]

In [119]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [120]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]